.hover{
    height: 200px;
    width: 400px;
    margin-top: 250px;
    margin-left: 200px;
    background-color: blue;
    text-align: center;
    display: inline-block;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}